.page-bar {
	display: flex;
	justify-content: center;
}
.page-bar .page-button {
	width: 22px;
	text-align: center;
	border: none;
	border-radius: 200px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.page-bar .page-button:hover {
	background-color: #ddd;
}
