.landing-txt {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
}
.loading {
	display: flex;
	justify-content: center;
}
.results {
	display: flex;
	align-items: center;
}
.results .container {
	width: 1050px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 714px) {
	.results .container {
		width: 350px;
	}
}

@media (min-width: 715px) and (max-width: 1064px) {
	.results .container {
		width: 700px;
	}
}
